# PA2 Version 1 Jupyter

## Alexis Tobias

#### Fall 2023 Computer Programming

### Task 1

In [1]:
NAME= "Alexis"

In [2]:
AGE= "29"

In [3]:
HEIGHT="162.56"

In [4]:
COLOR="orange"

In [5]:
print("My name is " + NAME + ", I am " + AGE + " years old, I am " + HEIGHT + " cm tall, and my favorite color is " + COLOR + ".")

My name is Alexis, I am 29 years old, I am 162.56 cm tall, and my favorite color is orange.

### Task 2

In [6]:
celsius_temp=22

In [7]:
Celsius_to_Fahrenheit= (celsius_temp * 9/5) + 32

In [8]:
Celsius_to_Fahrenheit

71.6

In [9]:
print( "The temperature is " , celsius_temp,"째C, which is " , Celsius_to_Fahrenheit , "째F." )

The temperature is  22 째C, which is  71.6 째F.

### Task 3

In [10]:
num1=3

In [11]:
num2=7

In [42]:
print("sum =",num1 + num2)

sum = 10

In [43]:
print("subtraction =",num2-num1)

subtraction = 4

In [44]:
print("multiplication =",num1 * num2)

multiplication = 21

In [45]:
print("division =",num1 / num2)

division = 0.42857142857142855

In [46]:
print("division =", num1 //num2)

division = 0

### Task 4

In [16]:
QUOTE=" Ask and it will be given to you; seek and you will find; knock and the door will be opened to you. For everyone who asks receives; the one who seeks finds; and to the one who knocks, the door will be opened. ~ Matthew 7:7-8 "

In [17]:
print(QUOTE)

 Ask and it will be given to you; seek and you will find; knock and the door will be opened to you. For everyone who asks receives; the one who seeks finds; and to the one who knocks, the door will be opened. ~ Matthew 7:7-8

In [18]:
len(QUOTE)

225

In [19]:
QUOTE.upper()

' ASK AND IT WILL BE GIVEN TO YOU; SEEK AND YOU WILL FIND; KNOCK AND THE DOOR WILL BE OPENED TO YOU. FOR EVERYONE WHO ASKS RECEIVES; THE ONE WHO SEEKS FINDS; AND TO THE ONE WHO KNOCKS, THE DOOR WILL BE OPENED. ~ MATTHEW 7:7-8 '

In [20]:
QUOTE.lower()

' ask and it will be given to you; seek and you will find; knock and the door will be opened to you. for everyone who asks receives; the one who seeks finds; and to the one who knocks, the door will be opened. ~ matthew 7:7-8 '

In [21]:
QUOTE.strip(" ")

'Ask and it will be given to you; seek and you will find; knock and the door will be opened to you. For everyone who asks receives; the one who seeks finds; and to the one who knocks, the door will be opened. ~ Matthew 7:7-8'

In [26]:
QUOTE.split(sep=" ")

['',
 'Ask',
 'and',
 'it',
 'will',
 'be',
 'given',
 'to',
 'you;',
 'seek',
 'and',
 'you',
 'will',
 'find;',
 'knock',
 'and',
 'the',
 'door',
 'will',
 'be',
 'opened',
 'to',
 'you.',
 'For',
 'everyone',
 'who',
 'asks',
 'receives;',
 'the',
 'one',
 'who',
 'seeks',
 'finds;',
 'and',
 'to',
 'the',
 'one',
 'who',
 'knocks,',
 'the',
 'door',
 'will',
 'be',
 'opened.',
 '~',
 'Matthew',
 '7:7-8',
 '']

### Task 5

In [30]:
number1=int(input("Enter your favorite whole number: "))

Enter your favorite whole number: 6

In [28]:
number2=int(input("Enter the total number of cars you have owned: "))

Enter the total number of cars you have owned: 2

In [47]:
print("sum =",number1 + number2)

sum = 8

In [48]:
print("subtraction =", number1 - number2)

subtraction = 4

In [49]:
print("multiplication =",number1 * number2)

multiplication = 12

In [50]:
print("division =",number1 // number2)

division = 3